<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Refresh</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/page.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
</head>
<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		    <a class="navbar-brand" href="#"><span class="refresher"><i class="fa fa-leaf fa-1x"></i> Refresh</span></a>
		    <ul class="nav navbar-nav">
				<li>
					<a href="/home"><i class="fa fa-home fa-fw"></i>Home</i></a>
				</li>
				<li>
					<a href="/profile"><i class="fa fa-user"> Profile</i> </a>
				</li>
				<li>
					<a href="/how"><i class="fa fa-question"> How It Works</i> </a>
				</li>
				
			</ul>
			<!-- Untested dropdown menu bar element -->
			<ul class="nav navbar-nav navbar-right">
        		<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<b class="caret"></b></a>
          		<ul class="dropdown-menu">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Friend Notifications! <b class="caret"></b></a>
          		<ul class="dropdown-menu" id="notificationButton">
              <li><a href="#" id="notficationButton" class="blue">Johnny B Good</a></li>
          		{{#each data.friends}}
          		<li><a href="#" class="blue">{{name}}</a></li>
          		{{notifications}}
          		{{/each}}
          	 	
          </ul>
        </li>
      </ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/"><i class="fa fa-reply"> Logout</i> </a>
				</li>
			</ul>
		</nav>
    <br>
    <br>
    <div>
     <a id="notifyText">  messages from friends appear here!</p>
    </div>
    	{{{body}}}
    	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="javascripts/refresh.js"></script>
    	<script src="javascripts/bootbox.min.js"></script>
    	<script src="javascripts/jquery.easing.min.js"></script>

    	<!-- Custom Theme JavaScript -->
    	<script src="javascripts/scrolling-nav.js"></script>

</body>
</html>