<link href="stylesheets/scrolling-nav.css" rel="stylesheet" type="text/css">

	
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 firstback">
                    <h1 class="white">We know you're busy...</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 secondback">
                    <h1 class="white">and that you meet a lot of people throughout your life...</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
            	<h1>It's why we created <span class="refresher">Refresh</span>...</h1>
                <div class="col-lg-12">
                    
                    <div class="container">
                    	<div class="col-lg-12">
                    		<div id="addFriend">
                    			<img class="pull-left" width="500px" height=auto src="images/add.png"/>
                    			<h2>Add<small> the people you really care about to your 'friend feed'. </small></h2>
                    		</div><BR>
                    		<div class="pull-right" >
                    			<img class="pull-right" width="200px" height=auto src="images/friend.png"/>
                    			<h2>Refresh<small> when you see someone on your list. </small></h2>
                    		</div><BR>
                    		<div class="pull-left furThree">
                    			<img class="pull-left" width="500px" height=auto src="images/profile.png"/><BR>
                    			<h2>Keep<small> track of the people who you've seen and who you haven't. </small></h2>
                    		</div>
                    		
                    		
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="white">Contact Us</h1>
                    <div id="contact_form" class="row">
					  <div class="col-12 col-sm-12 col-lg-12">
					    <p>We appreciate any feedback about your overall experience on our site or how to make it even better.  Please fill in the below form with any comments and we will get back to you.</p>
					    <form role="form" id="feedbackForm">
					      <div class="form-group">
					        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
					        <span class="help-block" style="display: none;">Please enter your name.</span>
					      </div>
					      <div class="form-group">
					        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
					        <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
					      </div>
					      <div class="form-group">
					        <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message"></textarea>
					        <span class="help-block" style="display: none;">Please enter a message.</span>
					      </div>
					      
					      <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Send Feedback</button>
					    </form>
					  </div><!--/span-->
					</div><!--/row-->
						
                </div>
            </div>
        </div>
    </section>

