<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul class="nav nav-stacked nav-pills">
				<li class="active">
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/profile">Profile</a>
				</li>
				<li>
					<a href="/">Logout</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9 column">
			<h2>Friend Feed<BR> <small>Keep in touch</small></h2>
			<HR>
			
		</div>
	</div>
</div>