<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul class="nav nav-stacked nav-pills">
				<li>
					<a href="/home">Home</a>
				</li>
				<li class="active">
					<a href="/profile">Profile</a>
				</li>
				<li>
					<a href="/">Logout</a>
				</li>
			</ul>
		</div>
		<div class="col-md-6 column">
			<div>
			 <img class="img-thumbnail" src="http://lorempixel.com/output/people-q-c-640-463-8.jpg"/>
			</div>
			<h2>David Jiang<BR> <small>This is you.</small></h2>
			<HR>
			
		</div>
		<div class="col-md-3 column">
			<h3>Friendship Tracker</h3>
			<HR>
			<h5>Friends seen this month:</h5>
		</div>
	</div>
</div>