body {
  padding-top: 65px;
}
.container {
	width: auto !important
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0 !important;
}
.friend {
	width: 300px;
	height: 400px;
	margin: 20px;
	border-radius: 5px;
	float: left;
	overflow: hidden;
}

.friendSmall {
	width: 75px;
	height: 100px;
	float: left;
}
.img-wrap{
	height:400px;
	overflow:hidden;
	position:relative;
	width:300px;
}
.img-overlay{
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	filter: alpha(opacity = 0);
	position:absolute;
	width:100%;
	z-index:1000;
}
.img-overlay h4, .img-overlay p{
	padding:0 10px;
}
.img-wrap:hover .img-overlay{
	opacity:0.75;
	filter: alpha(opacity = 75);
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}
#curFriends {
	margin-bottom: 150px !important;
}
.name {
	padding-left: 10px;
}

.refreshbtn {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}