body {
  padding-top: 65px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: auto !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0 !important;
}

.friend {
	width: auto;
	height: 200px;
	border-radius: 5px;
	text-align: left;
}

.description {
	float:right;
	position: relative;
	text-align: left;
}

.friendSmall {
	width: 75px;
	height: 100px;
}

.img {
	float: left;
	position: absolute;
}
.img-wrap{
	height:200px;
	position:relative;
	width:700px;
	margin: auto;
	border-left: 10px solid green;
	padding-left: 30px;
}
.img-overlay{
	float:right;
	position: relative;
}

.img-wrap:hover .img-overlay{
	opacity:0.75;
	filter: alpha(opacity = 75);
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}

.friend:hover {
	opacity: 0.75;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}
#addFriend:hover {
    opacity: .5;
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

#addFriend {
	height: 10px;
}
#curFriends {
	margin-bottom: 150px !important;
}
.refresher:hover {
    color: green;
}

.refreshbtn {
	float: right;
	margin-right: 0;
	position: relative;
}